#From SVN ignore pattern
*.o 
*.lo 
*.la 
*.al 
.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
__pycache__ 
*.rej 
*~ 
#*# 
.#* 

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Rr]elease
[Bb]uild
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Node
node_modules 

#Other
.svn